.terminal-input {
  font-family: 'Monaco', 'Courier New', monospace;
  background: none;
  border: none;
  outline: none;
  padding-left: 0.5em; /* Adjust padding to your liking */
  padding-right: 1em; /* Adjust padding to your liking */
  resize: none;
  width: 100%; /* Full width */
  flex: 1; /* Allow it to take remaining space */
  height:auto;
 font-size: inherit; /* Inherit font size from parent */
  /* line-height: 1.5; */
  cursor: default;
  color: #fff;
 }

.flex {
  display: flex; /* Enable flexbox */
}
.flex-col{
 display: flex;
  flex-direction: column;
}

.terminal-prompt {
  font-family: 'Monaco', 'Courier New', monospace;
  color: #00ff00; /* Optional: Prompt color */
  padding-top: 0.1em;
}

.yellow{
color: #ff0;
  font-weight: bold;
}
.white{
  color: #fff;
  font-weight: bold;
}
.green{
color: #0f0;
  font-weight: bold;
}
.mono{
  font-family: 'Monaco', 'Courier New', monospace;
}