.app{
    background-color: #000;
    width: 100vw;
    height: 98vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    overflow-y:scroll;
    overflow-x:h;
  }

