.prompt{
  margin-right:0.5em;
  font-family: 'Monaco', 'Courier New', monospace;

}

.history{
 background: none;
  border: none;
  outline: none;
  resize: none;
  width: 100%; /* Full width */
  flex: 1; /* Allow it to take remaining space */
  height:auto;
 font-size: inherit; /* Inherit font size from parent */

  cursor: default;
  color: #fff;
  font-family: 'Monaco', 'Courier New', monospace;
  white-space: pre-wrap;  /* Wraps text and preserves whitespace */
    word-wrap: break-all;  /* Breaks long words if necessary */
    overflow-wrap: break-word; /* For better compatibility */

}

.yellow{
color: #ff0;
  font-weight: bold;
}
.white{
  color: #fff;
  font-weight: bold;
}
.green{
color: #0f0;
  font-weight: bold;
}